@font-face {
    font-family: Adam;
    src: url(Fonts/Adam-Bold.ttf);
  }

  @font-face {
    font-family: Roboto;
    src: url(Fonts/Roboto-Regular.ttf);
  }

  @font-face {
    font-family: Roboto;
    src: url(Fonts/Roboto-Bold.ttf);
    font-weight: bold;
  }


body {
    background: #1E1E1E;
    margin: 0;
    padding: 0;
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: -1; 
  }
  
  .background-image {
    width: auto;
    height: auto;
    opacity: 0.07; 
  }

.nav > li > .dropdown-menu { 
    background-color: #343A40;
}

.dropdown-item {
    background-color: #343A40;
    color: #fff;
    } 

header {
        background: #171717;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    position: absolute;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
  }
  
  .image.active {
    opacity: 1;
  }
  
  .mainContainer{
    background:#333;
    width:20%;
    height:200px;
    margin:auto;
    margin-top:100px;
    position:relative;
  }

  p{
    color: white;
    font-family: Roboto;
  }
  
  .white-hr {
    background-color: white;
    height: 1px; 
    border: none; 
    width: 60%;
  }

  .audio-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }

  .audio-controls button {
    margin: 0 8px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    transition: background-color 0.3s;
    outline: none;
  }

  .audio-controls button:hover {
    background-color: #2980b9;
  }

  h5 {
    -webkit-text-stroke: 1px black;
    color: white; 
  }

  h1{
    font-family: Adam;
    font-size: 5vw;
    text-align: center;
    color: white;
}

footer{
    background: #171717;
}

.imgfit{
    object-fit: cover;
}

.custom-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup-container {
    position: relative;
    display: inline-block;
  }

  .popup-text {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    z-index: 1;
    animation: fadeOut 2s forwards;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* ******** */
/* JQBORDER */
/* ******** */

.moving-border {
    display: inline-block;
    position: relative;
    overflow: visible;
}

.moving-border .border {
    position: absolute;
    background: none;
    overflow: hidden;
}

.moving-border .border.top {
    height: 3px;
    width: 100%;
    top: 0px;
    left: 0px;
}

.moving-border .border.right {
    height: 100%;
    width: 3px;
    top: 0px;
    right: 0px;
}

.moving-border .border.bottom {
    height: 3px;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

.moving-border .border.left {
    height: 100%;
    width: 3px;
    top: 0px;
    left: 0px;
}

.moving-border .border .bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    left: 0px;
    top: 0px;
    z-index: 99;
}

.moving-border .border.top .bar {
    left: 100%;
    animation: moving-border-animate-top 2s linear 2s infinite;
}

.moving-border .border.right .bar {
    top: 100%;
    animation: moving-border-animate-right 2s linear 1s infinite;
}

.moving-border .border.bottom .bar {
    left: -100%;
    animation: moving-border-animate-bottom 2s linear 0s infinite;
}

.moving-border .border.left .bar {
    top: -100%;
    animation: moving-border-animate-left 2s linear 3s infinite;
}

@keyframes moving-border-animate-top {
    0%{
        left: 100%;
    }
    100%{
        left: -100%;
    }
}

@keyframes moving-border-animate-right {
    0%{
        top: 100%;
    }
    100%{
        top: -100%;
    }
}

@keyframes moving-border-animate-bottom {
    0%{
        left: -100%;
    }
    100%{
        left: 100%;
    }
}

@keyframes moving-border-animate-left {
    0%{
        top: -100%;
    }
    100%{
        top: 100%;
    }
}

.containerborder {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
